services:
  esp32-timelapse-server:
    # image: h3rmt/esp32-timelapse-server
    build: .
    user: 1000:1000
    restart: always
    ports:
      - "8080:8080"
    environment:
      - FPS=7
    volumes:
      - ./imgs-d:/images
