services:
  esp32-timelapse-server:
    # image: ghcr.io/h3rmt/esp32-timelapse-server
    build:
      context: .
      dockerfile: Containerfile
    restart: always
    ports:
      - "8080:8080"
    environment:
      - LAYER_FPS=7
      - MINUTE_FPS=30
      - RUST_LOG=debug
    volumes:
      - ./imgs-f:/images
